In [6]:
import pandas as pd

In [7]:
info={
    "Name":["Pooja","Chirashwi","Charishma"],
    "CGPA":[9.3,9.6,8.4]
}
df=pd.DataFrame(info)
print(df)

        Name  CGPA
0      Pooja   9.3
1  Chirashwi   9.6
2  Charishma   8.4

In [8]:
df

        Name  CGPA
0      Pooja   9.3
1  Chirashwi   9.6
2  Charishma   8.4

In [11]:
s=pd.Series([1,2,3,4,5])
print(s)
print(type(s))

#Access the values in series done by 2 methods (index ans label)
#index
print(s[0])
print(s[3])

#label

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
4

In [23]:
s=pd.Series([28,23,26,25],index=["Steve","Eleven","Lucus","Dustin"])
print(s)

print(s["Dustin"])
print(s["Steve"])
 #print(s[0])  gives warning to use iloc 
print(s.index)

Steve     28
Eleven    23
Lucus     26
Dustin    25
dtype: int64
25
28
Index(['Steve', 'Eleven', 'Lucus', 'Dustin'], dtype='object')

In [27]:
#Properties 
#homogenous
s=pd.Series([28,23,26,25,"Mike"],index=["Steve","Eleven","Lucus","Dustin",25])
print(s)

print(s["Dustin"])
print(s["Steve"])

Steve       28
Eleven      23
Lucus       26
Dustin      25
25        Mike
dtype: object
25
28

In [32]:
#properties
#vectorization 
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([3,2,3,4,5])
print(s1+s2)

#Mutable values
s1[0]=65
print(s1)

#size of series is immutable
changed_s1=s1.drop(0)

print(s1)
print(changed_s1)

0     4
1     4
2     6
3     8
4    10
dtype: int64
0    65
1     2
2     3
3     4
4     5
dtype: int64
0    65
1     2
2     3
3     4
4     5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
#DataFrame
import pandas as pd

info={
    "Name":["Steve","Nancy","Max"],
    "Age":[29,28,24],
    "CGPA":[9.5,8.0,7.0]
}

df=pd.DataFrame(info)
print(df,type(df))

    Name  Age  CGPA
0  Steve   29   9.5
1  Nancy   28   8.0
2    Max   24   7.0 <class 'pandas.core.frame.DataFrame'>

In [3]:
df

    Name  Age  CGPA
0  Steve   29   9.5
1  Nancy   28   8.0
2    Max   24   7.0

In [8]:
print(df.index) #row value
print(df.columns)

RangeIndex(start=0, stop=3, step=1)
RangeIndex(start=0, stop=2, step=1)

In [9]:
#DataFrame is list of list

df=pd.DataFrame([["Steve",29],["Nancy",28],["Max",24]],columns=["Name","age"])
print(df)

    Name  age
0  Steve   29
1  Nancy   28
2    Max   24

In [11]:
#creating Datafrrame by numpy array
import numpy as np

np_arr=np.array([[1,2,3],[4,5,6]])
df=pd.DataFrame(np_arr,columns=["P","Q","R"])
print(df)

   P  Q  R
0  1  2  3
1  4  5  6