In [6]:
import pandas as pd

In [7]:
info={
    "Name":["Pooja","Chirashwi","Charishma"],
    "CGPA":[9.3,9.6,8.4]
}
df=pd.DataFrame(info)
print(df)

        Name  CGPA
0      Pooja   9.3
1  Chirashwi   9.6
2  Charishma   8.4

In [8]:
df

        Name  CGPA
0      Pooja   9.3
1  Chirashwi   9.6
2  Charishma   8.4

In [11]:
s=pd.Series([1,2,3,4,5])
print(s)
print(type(s))

#Access the values in series done by 2 methods (index ans label)
#index
print(s[0])
print(s[3])

#label

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
4

In [23]:
s=pd.Series([28,23,26,25],index=["Steve","Eleven","Lucus","Dustin"])
print(s)

print(s["Dustin"])
print(s["Steve"])
 #print(s[0])  gives warning to use iloc 
print(s.index)

Steve     28
Eleven    23
Lucus     26
Dustin    25
dtype: int64
25
28
Index(['Steve', 'Eleven', 'Lucus', 'Dustin'], dtype='object')

In [27]:
#Properties 
#homogenous
s=pd.Series([28,23,26,25,"Mike"],index=["Steve","Eleven","Lucus","Dustin",25])
print(s)

print(s["Dustin"])
print(s["Steve"])

Steve       28
Eleven      23
Lucus       26
Dustin      25
25        Mike
dtype: object
25
28

In [32]:
#properties
#vectorization 
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([3,2,3,4,5])
print(s1+s2)

#Mutable values
s1[0]=65
print(s1)

#size of series is immutable
changed_s1=s1.drop(0)

print(s1)
print(changed_s1)

0     4
1     4
2     6
3     8
4    10
dtype: int64
0    65
1     2
2     3
3     4
4     5
dtype: int64
0    65
1     2
2     3
3     4
4     5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64